# Version control
.git
.gitignore

# Package dependencies
vendor
node_modules

# Environment & Sensitive files
.env
.env.*
!.env.example

# Docker related
Dockerfile*
docker-compose*
.dockerignore

# Logs and caches
*.log
.phpunit.result.cache
storage/logs/*
storage/framework/views/*
storage/framework/cache/*
storage/framework/sessions/*

# IDEs and OS files
.idea/
.vscode/
.DS_Store
Thumbs.db
